* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.login_box input {
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
    color: #fff;
    width: 180px; 
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/FondoLogin.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.login_box .foto {
    display: flex;
    
}
.glass {
    position: relative;
    width: 250px;
    height: 420px;
    background: inherit;
    border-radius: 5%;
    overflow: hidden;
    animation: resplandor 5s linear infinite;
    border: 1px solid white;
}

.boton {
    border-radius: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    height: 40px;
    font-weight: 600;
    transition: all 0.4s ease;
    margin-left: 20px;
    margin-top: 10px;
}

.glass::after {
    content: "";
    width: 250px;
    height: 450px;
    background: inherit;
    position: absolute;
    top: 0;
    box-shadow: inset 0 0 0 200px, rgba(255, 255, 255, 0.05);
    filter: blur(12px);
}

.login_box {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    margin-left: 20px;
}

.login_box > * {
    display: inline-block;
    width: 170px;
}

.login_box a {
    color: white;
    text-align: center;
    margin-left: 20px;
}

.texto {
    display: flex;
    justify-content: left;
    color: white;
    font-size: 0.8rem;
}

.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(img/Adam_Bouaouda_Chaoui_Make_me_the_logo_of_skins_betting_website_that_mak_fb4a8a6d-6151-4220-a704-7f444873de23_preview_rev_1.png);
    background-size: cover;
    margin-left: 33px;
}
